@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}
body {
  height: 100vh;
}
.main-page {
  margin: 30 50;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-weight: 25;
  font-size: 35px;
}
header {
  margin-bottom: 50px;
}
.main-image {
  width: 95vw;
}

.email-form {
  border-radius: 30px;
  margin-bottom: 35px;
}
button {
  color: white;
  background-color: hsl(214, 74%, 55%);
  border-style: none;
  cursor: pointer;
  width: 260px;
}
.text {
  margin-bottom: 25px;
  white-space: nowrap;
}

.icon {
  padding-right: 100px;
}
.fa {
  margin: 30 0 30 0;
  border-radius: 50%;
}
.fa-twitter {
  margin: 0 30 0 30;
}

footer {
  white-space: nowrap;
}

@media only screen and (min-device-width: 376px) {
  .fa-twitter {
    margin: 0 100 0 100;
  }
}
